In [13]:
import pandas as pd
import numpy as np

In [14]:
# Load the dataset
df = pd.read_csv("health_insurance_claims.csv")

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4680 entries, 0 to 4679
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ClaimID                  4680 non-null   object
 1   PatientID                4680 non-null   object
 2   ProviderID               4680 non-null   object
 3   ClaimAmount              4680 non-null   float64
 4   ClaimDate                4680 non-null   object
 5   DiagnosisCode            4680 non-null   object
 6   ProcedureCode            4680 non-null   object
 7   PatientAge               4680 non-null   int64
 8   PatientGender            4680 non-null   object
 9   ProviderSpecialty        4680 non-null   object
 10  ClaimStatus              4680 non-null   object
 11  PatientIncome            4680 non-null   float64
 12  PatientMaritalStatus     4587 non-null   object
 13  PatientEmploymentStatus  4587 non-null   object
 14  ProviderLocation         4680 non-null   object
 15  ClaimType                4587 non-null   object
 16  ClaimSubmissionMethod    4680 non-null   object
dtypes: float64(2), int64(1), object(14)
memory usage: 621.7+ KB

In [16]:
df.duplicated().sum()

np.int64(147)

In [18]:
df.isna().sum()

ClaimID                     0
PatientID                   0
ProviderID                  0
ClaimAmount                 0
ClaimDate                   0
DiagnosisCode               0
ProcedureCode               0
PatientAge                  0
PatientGender               0
ProviderSpecialty           0
ClaimStatus                 0
PatientIncome               0
PatientMaritalStatus       93
PatientEmploymentStatus    93
ProviderLocation            0
ClaimType                  93
ClaimSubmissionMethod       0
dtype: int64

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4680 entries, 0 to 4679
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ClaimID                  4680 non-null   object
 1   PatientID                4680 non-null   object
 2   ProviderID               4680 non-null   object
 3   ClaimAmount              4680 non-null   float64
 4   ClaimDate                4680 non-null   object
 5   DiagnosisCode            4680 non-null   object
 6   ProcedureCode            4680 non-null   object
 7   PatientAge               4680 non-null   int64
 8   PatientGender            4680 non-null   object
 9   ProviderSpecialty        4680 non-null   object
 10  ClaimStatus              4680 non-null   object
 11  PatientIncome            4680 non-null   float64
 12  PatientEmploymentStatus  4587 non-null   object
 13  ProviderLocation         4680 non-null   object
 14  ClaimType                4587 non-null   object
 15  ClaimSubmissionMethod    4680 non-null   object
dtypes: float64(2), int64(1), object(13)
memory usage: 585.1+ KB

In [19]:
# -----------------------------------------
# 1) DROP COLUMN: PatientMaritalStatus
# -----------------------------------------
df = df.drop(columns=['PatientMaritalStatus'])

In [22]:
# 2) HANDLE MISSING VALUES
# -----------------------------------------

# PatientEmploymentStatus: fill based on PatientIncome
# If salary > 0 --> 'Employed', else --> 'Unemployed'
mask_emp = df['PatientEmploymentStatus'].isnull()
df.loc[mask_emp & (df['PatientIncome'] > 0), 'PatientEmploymentStatus'] = 'Employed'
df.loc[mask_emp & (df['PatientIncome'] == 0), 'PatientEmploymentStatus'] = 'Unemployed'

# ClaimType: replace NaN with 'Routine'
df['ClaimType'] = df['ClaimType'].fillna('Routine')

In [25]:
# 3) CLEAN ClaimStatus TYPO ERRORS
# -----------------------------------------
# Map all variants to correct status
status_mapping = {
    'pendng': 'Pending',
    'pnding': 'Pending',
    'Pending': 'Pending',
    'Pending ': 'Pending',
    ' PENDING': 'Pending',
    'Approved': 'Approved',
    'Approved ': 'Approved',
    ' APPROVED': 'Approved',
    'apprvoed': 'Approved',
    'approvd': 'Approved',
    'Denied': 'Denied',
    'Denied ': 'Denied',
    ' DENIED': 'Denied',
    'dened': 'Denied',
    'deneid': 'Denied'
}

df['ClaimStatus'] = df['ClaimStatus'].map(status_mapping)

In [24]:
df.isna().sum()

ClaimID                    0
PatientID                  0
ProviderID                 0
ClaimAmount                0
ClaimDate                  0
DiagnosisCode              0
ProcedureCode              0
PatientAge                 0
PatientGender              0
ProviderSpecialty          0
ClaimStatus                0
PatientIncome              0
PatientEmploymentStatus    0
ProviderLocation           0
ClaimType                  0
ClaimSubmissionMethod      0
dtype: int64

In [26]:
df['ClaimStatus'].unique()

array(['Pending', 'Approved', 'Denied'], dtype=object)

In [27]:
# -----------------------------------------
# 4) REMOVE DUPLICATES
df = df.drop_duplicates()

In [28]:
df.duplicated().sum()

np.int64(0)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4514 entries, 0 to 4654
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ClaimID                  4514 non-null   object
 1   PatientID                4514 non-null   object
 2   ProviderID               4514 non-null   object
 3   ClaimAmount              4514 non-null   float64
 4   ClaimDate                4514 non-null   object
 5   DiagnosisCode            4514 non-null   object
 6   ProcedureCode            4514 non-null   object
 7   PatientAge               4514 non-null   int64
 8   PatientGender            4514 non-null   object
 9   ProviderSpecialty        4514 non-null   object
 10  ClaimStatus              4514 non-null   object
 11  PatientIncome            4514 non-null   float64
 12  PatientEmploymentStatus  4514 non-null   object
 13  ProviderLocation         4514 non-null   object
 14  ClaimType                4514 non-null   object
 15  ClaimSubmissionMethod    4514 non-null   object
dtypes: float64(2), int64(1), object(13)
memory usage: 599.5+ KB

In [30]:
# SAVE CLEANED DATASET
# -----------------------------------------
df.to_csv("health_insurance_dataset.csv", index=False)

print("Dataset cleaned successfully!")

Dataset cleaned successfully!