In [11]:
import pandas as pd

In [12]:
# Load dataset
df = pd.read_csv("health_insurance_dataset.csv")

In [13]:
df.head()

,ClaimID,PatientID,ProviderID,ClaimAmount,ClaimDate,DiagnosisCode,ProcedureCode,PatientAge,PatientGender,ProviderSpecialty,ClaimStatus,PatientIncome,PatientEmploymentStatus,ProviderLocation,ClaimType,ClaimSubmissionMethod
0,10944daf-f7d5-4e1d-8216-72ffa609fe41,8552381d-7960-4f64-b190-b20b8ada00a1,4a4cb19c-4863-41cf-84b0-c2b21aace988,3807.95,2024-06-07,yy006,hd662,16,M,Cardiology,Pending,90279.43,Retired,Jameshaven,Routine,Paper
1,fcbebb25-fc24-4c0f-a966-749edcf83fb1,327f43ad-e3bd-4473-a9ed-46483a0a156f,422e02dd-c1fd-43dd-8af4-0c3523f997b1,9512.07,2023-05-30,tD052,mH831,27,M,Pediatrics,Approved,0.00,Student,Beltrantown,Routine,Online
2,9e9983e7-9ea7-45f5-84d8-ce49ccd8a4a1,6f3acdf7-73aa-4afa-9c2e-b25b27bdb5b0,f7733b3f-0980-47b5-a7a0-ee390869355b,7346.74,2022-09-27,zx832,dg637,40,F,Cardiology,Pending,82417.54,Employed,West Charlesport,Emergency,Online
3,a06273ed-44bb-452b-bbad-8618de080494,5d58e183-701e-406c-a8c6-5b73cac5e912,f7a04581-de96-44ee-b773-8adac02baa59,6026.72,2023-06-25,kr421,kG326,65,M,Neurology,Pending,0.00,Student,West Aprilhaven,Routine,Phone
4,f702a717-254b-4cff-a0c7-8395db2f6616,8a8ebdf6-3af0-4f14-82f3-37b937c3d270,b80b9e77-97f0-47d7-b561-19f9658a7bdf,1644.58,2023-07-24,LZ261,cx805,24,M,General Practice,Pending,0.00,Student,Lake Michele,Inpatient,Phone

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4514 entries, 0 to 4513
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ClaimID                  4514 non-null   object
 1   PatientID                4514 non-null   object
 2   ProviderID               4514 non-null   object
 3   ClaimAmount              4514 non-null   float64
 4   ClaimDate                4514 non-null   object
 5   DiagnosisCode            4514 non-null   object
 6   ProcedureCode            4514 non-null   object
 7   PatientAge               4514 non-null   int64
 8   PatientGender            4514 non-null   object
 9   ProviderSpecialty        4514 non-null   object
 10  ClaimStatus              4514 non-null   object
 11  PatientIncome            4514 non-null   float64
 12  PatientEmploymentStatus  4514 non-null   object
 13  ProviderLocation         4514 non-null   object
 14  ClaimType                4514 non-null   object
 15  ClaimSubmissionMethod    4514 non-null   object
dtypes: float64(2), int64(1), object(13)
memory usage: 564.4+ KB

In [15]:
df.describe()

       ClaimAmount   PatientAge  PatientIncome
count  4514.000000  4514.000000    4514.000000
mean   5015.490924    49.837616   42751.029338
std    2866.600323    28.793880   49618.118739
min     100.120000     0.000000       0.000000
25%    2511.727500    25.000000       0.000000
50%    5054.975000    50.000000   22225.705000
75%    7464.197500    75.000000   84304.862500
max    9997.200000    99.000000  149957.520000

In [16]:
df.duplicated().sum()

np.int64(0)

In [17]:
 df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4509    False
4510    False
4511    False
4512    False
4513    False
Length: 4514, dtype: bool

In [18]:
df.isnull().sum()

ClaimID                    0
PatientID                  0
ProviderID                 0
ClaimAmount                0
ClaimDate                  0
DiagnosisCode              0
ProcedureCode              0
PatientAge                 0
PatientGender              0
ProviderSpecialty          0
ClaimStatus                0
PatientIncome              0
PatientEmploymentStatus    0
ProviderLocation           0
ClaimType                  0
ClaimSubmissionMethod      0
dtype: int64

In [19]:
df.dtypes

ClaimID                     object
PatientID                   object
ProviderID                  object
ClaimAmount                float64
ClaimDate                   object
DiagnosisCode               object
ProcedureCode               object
PatientAge                   int64
PatientGender               object
ProviderSpecialty           object
ClaimStatus                 object
PatientIncome              float64
PatientEmploymentStatus     object
ProviderLocation            object
ClaimType                   object
ClaimSubmissionMethod       object
dtype: object

In [20]:
# show first 10 unique values
object_cols = df.select_dtypes(include="object").columns
for col in object_cols:
    print(f"\n{col}:")
    print(df[col].unique()[:10])

ClaimID:
['10944daf-f7d5-4e1d-8216-72ffa609fe41'
 'fcbebb25-fc24-4c0f-a966-749edcf83fb1'
 '9e9983e7-9ea7-45f5-84d8-ce49ccd8a4a1'
 'a06273ed-44bb-452b-bbad-8618de080494'
 'f702a717-254b-4cff-a0c7-8395db2f6616'
 '78657d24-a96e-461d-970b-d54329d9ceff'
 '5e2751ed-c6af-44ed-b95d-c91a19784c9e'
 '73fe8baf-7689-421a-962d-e3992b67e546'
 '2fb15151-2d53-49db-a95b-35e26edf9c98'
 'b5086d7b-f636-4830-9533-a62f4bba719e']

PatientID:
['8552381d-7960-4f64-b190-b20b8ada00a1'
 '327f43ad-e3bd-4473-a9ed-46483a0a156f'
 '6f3acdf7-73aa-4afa-9c2e-b25b27bdb5b0'
 '5d58e183-701e-406c-a8c6-5b73cac5e912'
 '8a8ebdf6-3af0-4f14-82f3-37b937c3d270'
 '6c46c6a2-55c5-47de-a91c-62d26c145105'
 '71e037fc-cc4d-4a54-bdb1-ab2eda84f310'
 '50190ee4-81f2-4f39-85e0-de57f69cb2f9'
 '61da1afe-54d5-4c0f-88f0-edb09118959e'
 '720e20a1-6bdf-4f4c-b112-fe32c8552055']

ProviderID:
['4a4cb19c-4863-41cf-84b0-c2b21aace988'
 '422e02dd-c1fd-43dd-8af4-0c3523f997b1'
 'f7733b3f-0980-47b5-a7a0-ee390869355b'
 'f7a04581-de96-44ee-b773-8adac02baa59'
 'b80b9e77-97f0-47d7-b561-19f9658a7bdf'
 '5c45438c-7854-448c-bd53-7f28a3321133'
 'bedfcca2-7c2c-4d1e-a86b-d2694cbd334b'
 'dc3d59d2-e1f1-4314-b276-bb4ae84b37e9'
 '97145993-2c15-42b2-a738-b999bd669788'
 '1d92ed08-3a88-4ede-84bc-62d879f40327']

ClaimDate:
['2024-06-07' '2023-05-30' '2022-09-27' '2023-06-25' '2023-07-24'
 '2023-08-09' '2024-05-01' '2023-10-24' '2023-07-31' '2024-04-13']

DiagnosisCode:
['yy006' 'tD052' 'zx832' 'kr421' 'LZ261' 'qM187' 'tZ864' 'wO325' 'rW725'
 'ss584']

ProcedureCode:
['hd662' 'mH831' 'dg637' 'kG326' 'cx805' 'no581' 'hJ616' 'RD702' 'da104'
 'UE642']

PatientGender:
['M' 'F']

ProviderSpecialty:
['Cardiology' 'Pediatrics' 'Neurology' 'General Practice' 'Orthopedics']

ClaimStatus:
['Pending' 'Approved' 'Denied']

PatientEmploymentStatus:
['Retired' 'Student' 'Employed' 'Unemployed']

ProviderLocation:
['Jameshaven' 'Beltrantown' 'West Charlesport' 'West Aprilhaven'
 'Lake Michele' 'Lake Robert' 'Morenoton' 'South Andrew' 'Blackburnfurt'
 'South Gloriachester']

ClaimType:
['Routine' 'Emergency' 'Inpatient' 'Outpatient']

ClaimSubmissionMethod:
['Paper' 'Online' 'Phone']